@{ 
    ViewData["Title"] = "Add Book";
}

<form method="post">
    <label>Title<br /><input name="title" /></label><br />
    <label>Publication Date<br /><input name="date" /></label><br />
    <label>Author<br /><input name="author" /></label><br />
    <label>Author's Birth Date<br /><input name="birthdate" /></label><br />
    <input type="submit" value="Enter" class="btn btn-success" /><br />
</form>
<br />
<p>
    <a asp-action="Index">Back to List</a>
</p>