@{ 
    ViewData["Title"] = "Add Book";
}

<div>
    <form method="post">
        <div>
            <label for="title">Title</label><br />
            <input name="title" id="title"/>
        </div>
        <div>
            <label for="date">Publication Date</label><br />
            <input name="date" id="date"/>
        </div>
        <div>
            <label for="author">Author</label><br />
            <input name="author" id="author"/>
        </div>
        <div>
            <label for="birthdate">Author's Birth Date</label><br />
            <input name="birthdate" id="birthdate"/>
        </div>        <div>
            <input type="submit" value="Enter" class="btn btn-success" />
        </div>
    </form>
</div>


<p>
    <a asp-action="Index">Back to List</a>
</p>