@{ 
    ViewData["Title"] = "Add Book";
}

<div>
    <form method="post">
        <div>
            <label for="title">Title</label><br />
            <input name="title" />
        </div>
        <div>
            <label for="date">Publication Date</label><br />
            <input name="date" />
        </div>
        <div>
            <label for="author1">First author</label><br />
            <input name="author1" />
        </div>
        <div>
            <label for="author2">Second author</label><br />
            <input name="author2" />
        </div>
        <div>
            <input type="submit" value="Enter" />
        </div>
    </form>
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
