
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin Page</h2>
<br>
<h3>User Accounts</h3>
<a asp-action="ShowAccounts">Show All Accounts</a><br />
<a asp-action="CreateAccount">Create an Account</a><br>
<br>
<h3>User Roles</h3>
<a asp-action="ShowRoles">Show all Roles</a><br>
<a asp-action="CreateRole">Create a Role</a><br>
<br>
