@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Show All Accounts";
}


<h4>User Accounts</h4>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3">No User Accounts</td></tr>
    }
    else
    {
        foreach (AppUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    }
</table>

<a asp-action="CreateAccount">Create an Account</a><br />
<a asp-action="Index">Admin Page</a>

