@model List<BookInfo.Models.Author>
@{
    ViewData["Title"] = "Author List";
}

@foreach (var a in Model)
{
    @:<p>
        @:Name: @a.Name <br />
        @:Birthday: @a.Birthday.ToString("MMMM dd, yyyy") <br />
        <a asp-action="Edit" asp-route-id="@a.AuthorID" >Edit</a>
        <a asp-action="Delete" asp-route-id="@a.AuthorID">Delete</a>
    @:</p>
}

