<!DOCTYPE html>
<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @if (((string)ViewData["Title"]) != "Home")
        {
            <title>@ViewData["Title"]</title>
        }
        else
        {
            <title>Book Info</title>
        }
</head>
<body class="h-100">
    <div class="container d-flex flex-column h-100">
        <div class="text-center">
            <h1 class="text-center bg-light">Book Info</h1>
            <h1 class="badge badge-secondary">@ViewData["Title"]</h1>
        </div>
        @RenderBody()
        @if (((string)ViewData["Title"]) != "Home")
        {
            <p>
            <a asp-controller="Home" asp-action="Index">Back to Home</a>
            </p>
        }
    </div>
    <footer class="mt-auto">
        ©2019 by Brian Bird
    </footer>
</body>
</html>
