<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"] - Book Info</h1>
    @RenderBody()
    @if (((string)ViewData["Title"]) != "Home Page")
    {
        <p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </p>
    }
</body>
</html>
