@{
    ViewData["Title"] = "Home";
}

<img src="~/images/books-in-a-row.png" height="auto" width="100%" class="img-fluid"><br>

<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" asp-controller="Book" asp-action="Index">Show all books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Book" asp-action="Add">Add a book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Author" asp-action="Index">Show all authors</a>
    </li>
  </ul>
  </nav>
