@{
    ViewData["Title"] = "Home Page";
}
   
   <a asp-controller="Book" asp-action="Index">Show all books</a><br />
   <a asp-controller="Book" asp-action="AddBook">Add a book</a><br /> 
   <a asp-controller="Author" asp-action="Index">Show all authors</a> 
